:root {
  --text-color: #000000;

  --accent-color: #ffb2d0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

.container {
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}
@media (max-width: 370px) {
  .container {
    max-width: 370px;
    padding: 0 15px;
  }
}
