.address {
  padding: 141px 0 156px 0;
  background-color: var(--accent-color);
}
.address__wrap {
  max-width: 1020px;
  text-align: center;
  margin: 0 auto;
}
.address__title {
  color: #fff;

  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  margin-bottom: 37px;
  font-weight: 900;
  line-height: 1.27;
  letter-spacing: 1.65px;
}
.address__text {
  color: #fffcf8;

  font-size: 32px;
  margin-bottom: 59px;
  font-weight: 400;
  line-height: 1.09;
  letter-spacing: 0.96px;
}
.input__wrap {
  position: relative;
  display: inline-block;
}
.input {
  padding: 27px 171px 15px 27px;
  width: 574px;
  height: 87px;
  border-radius: 10px;
  background: #fff;
}

.input::placeholder {
  color: #767676;

  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.46;
  letter-spacing: 0.72px;
}

.btnInput {
  position: absolute;
  right: 9px;
  bottom: 8px;
  color: #fff;
  font-size: 33px;

  font-weight: 500;
  line-height: 1.06;
  letter-spacing: 0.99px;
  text-transform: uppercase;
  padding: 17px 35px;
  border-radius: 8px;
  background: #000;
}
@media (max-width: 768px) {
  .address {
    padding: 100px 0;
  }
  .address__wrap {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
  }
  .address__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .address__text {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .input {
    padding: 20px;
    width: 374px;
    height: 87px;
    border-radius: 10px;
    background: #fff;
  }

  .input::placeholder {
    font-size: 16px;
  }

  .btnInput {
    position: absolute;
    right: 9px;
    bottom: 8px;
    color: #fff;
    font-size: 20px;
    padding: 10px 24px;
  }
}
@media (max-width: 370px) {
  .address {
    padding: 40px 0;
  }
  .address__wrap {
    max-width: 300px;
  }
  .address__title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .address__text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .input__wrap {
    display: flex;
  }
  .input {
    padding: 16px 20px 16px 20px;
    width: 100%;
    height: 57px;
  }

  .input::placeholder {
    font-family: Poppins;
    font-size: 14px;
  }

  .btnInput {
    position: absolute;
    right: 6px;
    bottom: 2px;

    font-size: 20px;
    padding: 16px 25px;
  }
}
