.header {
  padding: 46px 0px 56px 0;
}
.header-row {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 40px;
  letter-spacing: 1.2px;

  color: var(--text-color);
}
.header__logo span {
  position: absolute;
  left: 32px;
  font-weight: 900;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__nav ul {
  display: flex;
  column-gap: 65px;
  margin-right: 54px;
}

.header__nav a {
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.22px;
}
.header-btn a {
  padding: 13px 22px 17px 22px;
  border-radius: 7px;
  background: #000;

  color: #fefefe;

  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
}
.cart-icon {
  margin-right: 32px;
}
@media (max-width: 370px) {
  .header {
    padding: 20px 0;
  }
  .header-row {
    display: flex;
    column-gap: 14px;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 1.2px;
    color: var(--text-color);
    width: 30px;
    height: 30px;
  }
  /* .header__nav ul {
    display: flex;
    column-gap: 25px;
    margin-right: 24px;
  }
  .header__nav a {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.22px;
  } */
  .header__nav {
    display: none;
  }
  .header__logo span {
    font-size: 20px;
    position: absolute;
    left: 14px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 40px 0;
  }
  .header__logo {
    font-size: 30px;
  }
  .header__nav {
    display: none;
  }

  .header__logo {
    font-size: 30px;
  }
  .menu {
    width: 40px;
    height: 40px;
  }
}
